@charset "UTF-8";
/* переменные */ /* глобальный border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* сброс дефолтных отступов и padding */
h1,
h2,
h3,
ul,
p {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* заголовки */
h2 {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

/* img - уберем нижний просвет */
img {
  display: block;
  max-width: 100%;
}

/* класс для сокрытия элемента (блока) */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* дефолтные свойства svg-иконок */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* текст в body */
body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* стилизация списков<li> */
.item {
  list-style: none;
}

/* стилизация ссылок<a> */
.link {
  text-decoration: none;
}

/* блочная разметка CONTAINER и SECTION */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* header */
.header {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    min-height: 60px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.logo {
  display: inline-block;
  color: #2196F3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo span {
  color: #000000;
}

.header-btn {
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
  background-color: transparent;
  border: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.header-btn .icon {
  width: 40px;
  height: 40px;
}
.header-btn:hover, .header-btn:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow-y: auto;
  }
  .header-menu.is-open {
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
  .header-menu nav {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    width: 931px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header-nav {
    font-size: 40px;
    line-height: 1.2;
  }
  .header-nav .item + .item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.1;
  }
  .header-nav .item + .item {
    margin-left: 50px;
  }
}

.header-nav_color {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav_color:hover, .header-nav_color:focus {
  color: #2196F3;
}

.current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .current {
    position: relative;
  }
  .current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #188CE8;
    border-radius: 2px;
    bottom: -34px;
  }
}

.header-connect {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-connect {
    flex-direction: column-reverse;
    margin-bottom: 64px;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-connect {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-connect {
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header-connect_color {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .header-connect_color.mobil {
    font-size: 24px;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .header-connect_color {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-connect_color .icon {
    margin-right: 10px;
  }
  .header-connect_color:hover, .header-connect_color:focus {
    color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .icon-envelope {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .icon-smartphone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .icon-smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header-social {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .header-social {
    display: none;
  }
}

.header-social_box {
  list-style: none;
}
.header-social_box .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
  padding: 0 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  text-decoration: none;
}
.header-social_box:first-child .link {
  padding-left: 0;
  border-left: none;
}
.header-social_box:last-child .link {
  padding-right: 0;
}

/* Стили для <main> STUDIO */
/* basic */
.basic {
  background-color: rgb(47, 48, 58);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
.basic .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 479px) {
  .basic {
    max-width: 479px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-480.jpg");
    background-size: 479px 400px;
  }
}
@media screen and (min-width: 480px) {
  .basic {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-768.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) {
  .basic {
    max-width: 1200px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-1600.jpg");
    background-size: 1200px 400px;
  }
}
@media screen and (min-width: 1200px) {
  .basic {
    max-width: 1600px;
    height: 600px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-1600.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px), screen and (min-resolution: 192dpi) and (max-width: 479px), screen and (min-resolution: 2dppx) and (max-width: 479px) {
  .basic {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-480-2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .basic {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-768-2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .basic {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/Header-1600-2x.jpg");
  }
}
.basic__title {
  color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (max-width: 199px) {
  .basic__title {
    max-width: 360px;
    font-size: 12px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 200px) {
  .basic__title {
    max-width: 360px;
    font-size: 5.42vw;
    line-height: 0.9;
  }
}
@media screen and (min-width: 480px) {
  .basic__title {
    font-size: 26px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 1200px) {
  .basic__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.btn {
  height: 50px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}
@media screen and (max-width: 399px) {
  .btn {
    width: 155px;
    font-size: 14px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 400px) {
  .btn {
    width: 42vw;
  }
}
@media screen and (min-width: 480px) {
  .btn {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .basic__btn {
    width: 216px;
  }
}

.prioritie-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .prioritie-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .prioritie-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .prioritie-list .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .prioritie-list .item {
    width: 270px;
  }
}
.prioritie-list .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .prioritie-list .title {
    text-align: center;
  }
}

.prioritie-list__icon {
  height: 120px;
  text-align: center;
  background-color: #F5F4FA;
  padding: 25px 0;
  margin-bottom: 30px;
}
.prioritie-list__icon .icon {
  width: 70px;
  height: 70px;
}

.service {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service__title {
  margin-bottom: 50px;
}

.service-list {
  display: flex;
}
.service-list .item {
  position: relative;
}
.service-list .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  text-align: center;
}
.service-list .item + .item {
  margin-left: 30px;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
}

.team__title {
  margin-bottom: 50px;
}

.team-list .title, .team-list {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
  }
}
.team-list .title {
  font-weight: 500;
  margin-bottom: 10px;
}
.team-list > .item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-list > .item {
    max-width: 450px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team-list > .item {
    width: 354px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list > .item {
    width: 270px;
    padding-bottom: 30px;
  }
}
.team-list img {
  margin-bottom: 30px;
}
.team-list .networks {
  justify-content: center;
  margin-top: 16px;
  max-width: 450px;
}

.networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.networks__icon {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50% 50%;
  border: 0 solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__icon .icon {
  width: 20px;
  height: 20px;
}
.networks__icon:hover, .networks__icon:focus {
  background-color: #2196F3;
}

.team-list_hover {
  color: #AFB1B8;
  background-color: #FFFFFF;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list_hover:hover, .team-list_hover:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients-card {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients-card {
    flex-wrap: wrap;
  }
}
.clients-card .icon {
  width: 106px;
  height: 60px;
}

.clients-card_style {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients-card_style {
    width: 210px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .clients-card_style {
    width: 226px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients-card_style {
    width: 170px;
    height: 92px;
  }
}
.clients-card_style:hover, .clients-card_style:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close .icon {
  width: 18px;
  height: 18px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  color: #2196F3;
}

.modal__title {
  font-size: 20px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.modal-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.modal-field + .modal-field {
  margin-top: 10px;
}

.modal__lable {
  height: 14px;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  font-size: 16px;
  color: #212121;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: 0;
  outline-offset: 0;
  border: 1px solid #2196F3;
}
.modal__input:focus + .modal__icon {
  color: #2196F3;
}
.modal__input:-webkit-autofill, .modal__input:-webkit-autofill:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-text-fill-color: #212121;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__commit {
  height: 120px;
  resize: none;
  font-size: 16px;
  color: #212121;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__commit:focus {
  outline: 0;
  outline-offset: 0;
  border: 1px solid #2196F3;
}
.modal__commit::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}
.modal__commit:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}
.modal__commit::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.modal-checkbox {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-checkbox__value {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal-checkbox__hide {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}
.modal-checkbox__hide:checked + .modal-checkbox__view {
  color: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
}

.modal-checkbox__view {
  width: 16px;
  height: 15px;
  color: transparent;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-left: 13px;
  margin-right: 8px;
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__link {
  color: #188CE8;
  margin-left: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__link:hover, .modal-checkbox__link:focus {
  color: #2196F3;
}

.modal__btn {
  width: 200px;
  height: 50px;
}

/* Стили для <main> PORTFOLIO */
/* filter */
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
}
@media screen and (max-width: 479px) {
  .portfolio-filter {
    width: 90vw;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 480px) {
  .portfolio-filter {
    width: 340px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__btn {
  background-color: #F5F4FA;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: 0 solid transparent;
  padding: 6px 25px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* сетка */
/* вариант 1 - gap*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list .item:first-child .project_border {
    height: 146px;
  }
}

/* вариант 2 - отрицат маржин*/
/* .portfolio-list {
            margin: -15px;
        }
        .portfolio-list .item {             
            margin: 15px;
        } */
/* вариант 3 - :nth-child*/
/* .portfolio-list .item:nth-child(3n+2) {
            margin-left: 30px;
            margin-right: 30px;
        }
        .portfolio-list .item:nth-child(-n+6) {
           margin-bottom : 30px;
        } */
.project {
  display: block;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .project {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 370px;
  }
}
.project:hover, .project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project_border {
  padding: 20px 24px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.project__img {
  position: relative;
  overflow: hidden;
}

.project__img__overlay {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__img__overlay, .project:focus .project__img__overlay {
  transform: translateY(0);
}

.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

/* footer */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
}
.footer .container span {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .container .logo {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .footer-connect .item {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-connect {
    margin-right: 89px;
  }
}

.footer-list {
  font-style: normal;
  line-height: 1.7;
}
.footer-list .item + .item {
  margin-top: 9px;
}

.footer-list__map {
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__map:hover, .footer-list__map:focus {
  color: #2196F3;
}

.footer-list_color {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list_color:hover, .footer-list_color:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-right: 89px;
  }
}

.footer-join__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer-join__title {
    text-align: center;
  }
}

.footer-join_color {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199px) {
  .footer-mail {
    width: 100%;
  }
}

.footer-mail__form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .footer-mail__form {
    flex-direction: column;
  }
}

.footer-mail_style {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  caret-color: rgba(255, 255, 255, 0.6);
  padding: 14px 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .footer-mail_style {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-mail_style {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mail_style {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-mail_style:hover, .footer-mail_style:focus {
  outline: 0;
  outline-offset: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.footer-mail_style:-webkit-autofill, .footer-mail_style:-webkit-autofill:focus {
  outline: 0;
  outline-offset: 0;
  caret-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(172, 172, 172);
  -webkit-text-fill-color: rgb(172, 172, 172);
  -webkit-box-shadow: 0 0 0px 1000px #2F303A inset;
}

.footer-mail__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */