.header-connect {
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        margin-bottom: 64px;
        gap: 32px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
        gap: 30px;
    }
}

.header-connect_color {
    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: $a-hover-focus--btn;

        &.mobil {
            font-size: 24px;
            color: $text;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.2;
        color: $text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .icon {
            margin-right: 10px;
        }

        &:hover,
        &:focus {
            color: $a-hover-focus--btn;
        }
    }
}

.icon-envelope {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

.icon-smartphone {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 768px) {
        width: 10px;
        height: 16px;
    }
}
