// .footer {
//     background-color: $backgr-black;
//     padding-top: 60px;
//     padding-bottom: 60px;

//     .container {
//         display: flex;
//         align-items: baseline;
//     }

//     .logo {
//         margin-bottom: 20px;
//     }
// }

// .footer-connect {
//     margin-right: 89px;

//     span {
//         color: $text-backgr-white;
//     }
// }

// @import 'header-footer/footer-list-kontakts';

// .footer-join {
//     margin-right: 89px;
// }

// .footer-join__title {
//     color: $text-backgr-white;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.1;
//     text-transform: uppercase;
//     margin-bottom: 20px;
// }

// .footer-join_color {
//     color: $text-backgr-white;
//     background-color: $icon-backgr;
// }

// .footer__mail {
//     display: flex;
//     align-items: center;
// }

// .footer__mail_style {
//     width: 358px;
//     font-size: 16px;
//     line-height: 1.25;
//     color: rgba(255, 255, 255, 0.6);
//     caret-color: $text-gray;
//     padding: 14px 16px;
//     background-color: $backgr-black;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     margin-right: 12px;

//     &:hover,
//     &:focus {
//         outline: 0;
//         outline-offset: 0;
//         border: 1px solid $text-gray;
//     }

//     &:-webkit-autofill,
//     &:-webkit-autofill:focus {
//         outline: 0;
//         outline-offset: 0;
//         caret-color: $text-gray;
//         border: 1px solid rgb(172, 172, 172);
//         -webkit-text-fill-color: rgb(172, 172, 172);
//         -webkit-box-shadow: 0 0 0px 1000px $backgr-black inset;
//     }
// }

// .footer-mail__btn {
//     width: 200px;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .icon-send {
//     width: 24px;
//     height: 24px;
//     margin-left: 10px;
// }