header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    .logo {
        margin-right: 93px;
    }

    .header-nav {
        margin-right: 318px;
    }
}

@import 'header-footer/logo';
@import 'header-footer/header-navigation';
@import 'header-footer/header-connect';
