/* basic */
// @import 'main-studio/main-presentation';

// /* prioritie */
// @import 'main-studio/quality-list';

// /* service */
// @import 'main-studio/skills';

// /* team */
// @import 'main-studio/team';

// /* clients */
// @import 'main-studio/clients';

// /* модальное окно */
// @import 'main-studio/modal-wind';
