.clients__title {
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.clients-card {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    .icon {
        width: 106px;
        height: 60px;
    }
}

.clients-card_style {
    height: 92px;

    @media screen and (max-width: 767px) {
        width: 210px;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    color: $icon;
    border: 1px solid $icon;
    border-radius: 4px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $a-hover-focus--btn;
        border-color: $a-hover-focus--btn;
    }
}

