.basic {
    background-color: rgb(47, 48, 58);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 479px) {
        max-width: 479px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/studio/Header-480.jpg");
        background-size: 479px 400px;
    }

    @media screen and (min-width: 480px) {
        max-width: 768px;
        height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-768.jpg");
        background-size: 768px 400px;
    }

    @media screen and (min-width: 768px) {
        max-width: 1200px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-1600.jpg");
        background-size: 1200px 400px;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-1600.jpg");
        background-size: 1600px 600px;
    }    
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .basic {
        @media screen and (max-width: 479px) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-480-2x.jpg");
        }

        @media screen and (min-width: 480px) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-768-2x.jpg");
        }

        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url("../images/studio/Header-1600-2x.jpg");
        }
    }
}

.basic__title {
    color: $text-backgr-white;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (max-width: 199px) {
        max-width: 360px;
        font-size: 12px;
        line-height: 0.9;
    }

    @media screen and (min-width: 200px) {
        max-width: 360px;
        font-size: 5.42vw;
        line-height: 0.9;
    }

    @media screen and (min-width: 480px) {
        font-size: 26px;
        line-height: 1.6;
    }

    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.4;
    }
}

@import '../common-components/button-big';

.basic__btn {
    @media screen and (min-width: 1200px) {
        width: 216px;
    }
}