.prioritie-list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }

    .item {
        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    .title {
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.prioritie-list__icon {
    

    height: 120px;
    text-align: center;
    background-color: $backgr-team;
    padding: 25px 0;
    margin-bottom: 30px;

    .icon {
        width: 70px;
        height: 70px;
    }
}