.service {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    padding-bottom: 94px;
}

.service__title {
    margin-bottom: 50px;
}

.service-list {
    display: flex;

    .item {
        position: relative;
    }

    .title {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        color: $text-backgr-white;
        background: rgba(47, 48, 58, 0.8);
        text-transform: uppercase;
        text-align: center;
    }

    .item {
        +.item {
            margin-left: 30px;
        }
    } 
}
