.team {
    background-color: $backgr-team;
    text-align: center;
}

.team__title {
    margin-bottom: 50px;
}

%font {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 30px;
    @extend %font;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }

    .title {
        @extend %font;
        font-weight: 500;
        margin-bottom: 10px;
    }

    >.item {
        @media screen and (max-width: 767px) {
            max-width: 450px;
            padding-bottom: 16px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
            padding-bottom: 16px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
            padding-bottom: 30px;
        }

        background-color: $text-backgr-white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    img {
        margin-bottom: 30px;
    }

    .networks {
        justify-content: center;
        margin-top: 16px;
        max-width: 450px;
    }
}

@import '../common-components/networks';

.team-list_hover {
    color: $icon;
    background-color: $text-backgr-white;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $text-backgr-white;
        background-color: $a-hover-focus--btn;
    }
}
