/* глобальный border-box */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* сброс дефолтных отступов и padding */
h1,
h2,
h3,
ul,
p {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* заголовки */
h2 {
    color: $title;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (max-width: 1199px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

h3 {
    color: $title;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}

/* img - уберем нижний просвет */
img {
    display: block;
    max-width: 100%;
}